.header {
    padding: 50px 0;
    &__box {
        text-transform: uppercase;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 35px;
        grid-template-rows: auto;
    }
    &__link {
        &:hover {
            content: "";
            width: 200px;
            height: 80px;
            border-radius: 50%;
            background-color: $color-white-smoke;
        }
    }
}
