main.about-me.wrapper
    .about-me__left#summary
        .about-me__title.flex
            h2.text-bold.about-me__h2 About me
            .about-me__img
                img(src="./assets/icons/about.svg", alt="about")
        .about-me__content
            p.text Hello! I’m Eleonora. I am passionate about  Web Design and Front-end Development. I am a beginner Front-end Developer and master tools such as Photoshop, Figma, HTML/CSS/SCSS, Git, VS Code, Gulp, PUG, JavaScript, REACT. I strive to gain new knowledge and easily learn new technologies and methods. I don't have commercial experience, but I will gladly become a part of your team.
    .about-me__react
        .about-me__react-ellipse.about-me__react-ellipse_center
        .about-me__react-ellipse.about-me__react-ellipse_left
        .about-me__react-ellipse.about-me__react-ellipse_right