section.education.wrapper.element-animation
    .education__title-wrap.flex
        h2.text-bold.education__title#education Education 
        .education__title-img#symbol
            img(src="./assets/icons/educ.svg", alt="educ")
    ul.education__box
        li.education__item.flex
            svg.education__checkmark(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52")
                circle(cx="26" cy="26" r="25" fill="none").education__checkmark-circle
                path(fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8").education__checkmark-check
            .text Marine Academy specialist degree (2020)
        li.education__item.flex
            svg.education__checkmark(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52")
                circle(cx="26" cy="26" r="25" fill="none").education__checkmark-circle
                path(fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8").education__checkmark-check
            .text Beetroot course Frontend Developer (2021) 
 

