header.header.wrapper 
    ul.header__box 
        li.header__item
            img(src="./assets/images/photo.jpg", alt="photo")
        li.header_item
            a.header__link(href="").text  About 
        li.header__item 
            a.header__link(href="").text Skills 
        li.header__item
            a.header__link(href="").text Education
        li.header__item
            a.header__link(href="").text Portfolio
        li.header__item
            a.header__link(href="").text Contact