header.header.wrapper 
    .header__box
        .header__item-photo
            img(src="./assets/images/photo.jpg", alt="photo")
        .header__item
            a(href="#").header__link.text-bold.text-hover About 
        .header__item 
            a(href="#").header__link.text-bold.text-hover Skills 
        .header__item
            a(href="#").header__link.text-bold.text-hover Education
        .header__item
            a(href="#").header__link.text-bold.text-hover Portfolio
        .header__item
            a(href="#").header__link.text-bold.text-hover Contact
    .header__name
        .header__h1
            h1.text-bold Eleonora Pavlova
        p.text.text-thin Front-end Developer 
