section.portfolio
    .portfolio__title-wrap.flex
        h2.text-bold.portfolio__title#portfolio Portfolio 
        .portfolio__title-img.an
            img(src="./assets/icons/portfolio.svg", alt="portfl")
    ul.portfolio__box
        .portfolio__col
            li.portfolio__item
                a(href="https://eleonorapavlova.github.io/EleonoraPavlovaSiberian/build/main.html" target = "_blank").text.text_gray Look here
                    img.portfolio__box_img(src="./assets/images/siberian.png", alt="siberian")
            li.portfolio__item
                a(href="https://eleonorapavlova.github.io/EleonoraPavlovaSiberian/build/main.html" target = "_blank").text.text_gray Look here            
                    img.portfolio__box_img(src="./assets/images/siberian1.png", alt="siberian")
            li.portfolio__item
                a(href="https://20210502-fe.github.io/EleonoraPavlova_GRID/build/main.html" target = "_blank").text.text_gray Look here
                    img.portfolio__box_img(src="./assets/images/grid.png", alt="grid")
            li.portfolio__item    
                a(href="https://20210502-fe.github.io/EleonoraPavlova_GRID/build/main.html" target = "_blank").text.text_gray Look here
                    img.portfolio__box_img(src="./assets/images/grid1.png", alt="grid") 
            li.portfolio__item
        .portfolio__col
            li.portfolio__item   
                a(href="https://20210502-fe.github.io/YakovlevaEleonora_UGMONK/" target = "_blank").text.text_gray Look here
                    img.portfolio__box_img(src="./assets/images/ugmonk.png", alt="ugmonk")
            li.portfolio__item    
                a(href="https://20210502-fe.github.io/YakovlevaEleonora_UGMONK/" target = "_blank").text.text_gray Look here
                    img.portfolio__box_img(src="./assets/images/ugmonk1.png", alt="ugmonk") 
            li.portfolio__item
                a(href="https://20210502-fe.github.io/YakovlevaEleonoraHungryPeople/" target = "_blank").text.text_gray Look here
                    img.portfolio__box_img(src="./assets/images/hungry.png", alt="hungry")
            li.portfolio__item
                a(href="https://20210502-fe.github.io/YakovlevaEleonoraHungryPeople/" target = "_blank").text.text_gray Look here
                    img.portfolio__box_img(src="./assets/images/hungry1.png", alt="hungry")
        .portfolio__col    
            li.portfolio__item    
                a(href="https://20210502-fe.github.io/YakovlevaEleonora_DreamHouse/" target = "_blank").text.text_gray Look here        
                    img.portfolio__box_img(src="./assets/images/house2.png", alt="house")        
            li.portfolio__item
                a(href="https://20210502-fe.github.io/EleonoraPavlova_css_box_model/" target = "_blank").text.text_gray Look here 
                    img.portfolio__box_img(src="./assets/images/box.png", alt="box") 
            li.portfolio__item
                a(href="https://20210502-fe.github.io/EleonoraPavlova_css_box_model/" target = "_blank").text.text_gray Look here           
                    img.portfolio__box_img(src="./assets/images/box1.png", alt="box")
        .portfolio__col
            li.portfolio__item
                a(href="https://20210502-fe.github.io/YakovlevaEleonora_DreamHouse/" target = "_blank").text.text_gray Look here
                    img.portfolio__box_img(src="./assets/images/house.png", alt="house")         
            li.portfolio__item             
                a(href="https://20210502-fe.github.io/YakovlevaEleonora_DreamHouse/" target = "_blank").text.text_gray Look here         
                    img.portfolio__box_img(src="./assets/images/house1.png", alt="house")
            li.portfolio__item
                a(href="https://20210502-fe.github.io/YakovlevaEleonoraHungryPeople/" target = "_blank").text.text_gray Look here
                    img.portfolio__box_img(src="./assets/images/hungry2.png", alt="hungry")