section.portfolio
    .portfolio__title-wrap.flex
        h2.text-bold.portfolio__title#portfolio Portfolio 
        .portfolio__title-img.an
            img(src="./assets/icons/portfolio.svg", alt="portfl")
    ul.portfolio__box
        li.portfolio__col
            .portfolio__item
                a(href="https://eleonorapavlova.github.io/EleonoraPavlovaSiberian/build/main.html" target = "_blank")
                    img.portfolio__box_img(src="./assets/images/siberian.png", alt="siberian")
            .portfolio__item
                a(href="https://eleonorapavlova.github.io/EleonoraPavlovaSiberian/build/main.html" target = "_blank")           
                    img.portfolio__box_img(src="./assets/images/siberian1.png", alt="siberian")
            .portfolio__item
                a(href="https://20210502-fe.github.io/EleonoraPavlova_GRID/build/main.html" target = "_blank")
                    img.portfolio__box_img(src="./assets/images/grid.png", alt="grid")
            .portfolio__item    
                a(href="https://20210502-fe.github.io/EleonoraPavlova_GRID/build/main.html" target = "_blank")
                    img.portfolio__box_img(src="./assets/images/grid1.png", alt="grid") 
        li.portfolio__col
            .portfolio__item   
                a(href="https://20210502-fe.github.io/YakovlevaEleonora_UGMONK/" target = "_blank")
                    img.portfolio__box_img(src="./assets/images/ugmonk.png", alt="ugmonk")
            .portfolio__item    
                a(href="https://20210502-fe.github.io/YakovlevaEleonora_UGMONK/" target = "_blank")
                    img.portfolio__box_img(src="./assets/images/ugmonk1.png", alt="ugmonk") 
            .portfolio__item
                a(href="https://20210502-fe.github.io/YakovlevaEleonoraHungryPeople/" target = "_blank")
                    img.portfolio__box_img(src="./assets/images/hungry.png", alt="hungry")
            .portfolio__item
                a(href="https://20210502-fe.github.io/YakovlevaEleonoraHungryPeople/" target = "_blank")
                    img.portfolio__box_img(src="./assets/images/hungry1.png", alt="hungry")
        li.portfolio__col
            .portfolio__item    
                a(href="https://20210502-fe.github.io/YakovlevaEleonora_DreamHouse/" target = "_blank")       
                    img.portfolio__box_img(src="./assets/images/house2.png", alt="house")        
            .portfolio__item
                a(href="https://20210502-fe.github.io/EleonoraPavlova_css_box_model/" target = "_blank")
                    img.portfolio__box_img(src="./assets/images/box.png", alt="box") 
            .portfolio__item
                a(href="https://20210502-fe.github.io/EleonoraPavlova_css_box_model/" target = "_blank")           
                    img.portfolio__box_img(src="./assets/images/box1.png", alt="box")
        li.portfolio__col
            .portfolio__item
                a(href="https://20210502-fe.github.io/YakovlevaEleonora_DreamHouse/" target = "_blank")
                    img.portfolio__box_img(src="./assets/images/house.png", alt="house")         
            .portfolio__item             
                a(href="https://20210502-fe.github.io/YakovlevaEleonora_DreamHouse/" target = "_blank")        
                    img.portfolio__box_img(src="./assets/images/house1.png", alt="house")
            .portfolio__item
                a(href="https://20210502-fe.github.io/YakovlevaEleonoraHungryPeople/" target = "_blank")
                    img.portfolio__box_img(src="./assets/images/hungry2.png", alt="hungry")
            .portfolio__item
                a(href="https://20210502-fe.github.io/YakovlevaEleonoraHungryPeople/" target = "_blank")
                    img.portfolio__box_img(src="./assets/images/hungry3.png", alt="hungry")