section.skills.wrapper
    .skills__title-wrap.flex
        h2.text-bold.skills__title#title Skills
        .skills__title-img#icon
            img(src="./assets/icons/skills-icon.svg", alt="skills")
    ul.skills__box
        li.skills__item
            img(src="./assets/icons/html.svg", alt="html")
        li.skills__item
            img(src="./assets/icons/css.svg", alt="css") 
        li.skills__item
            img(src="./assets/icons/img-scss.svg", alt="img-scss") 
        li.skills__item
            img(src="./assets/icons/github.svg", alt="github") 
        li.skills__item
            img(src="./assets/icons/ps.svg", alt="ps")  
        li.skills__item
            img(src="./assets/icons/figma.svg", alt="figma")  
        li.skills__item
            img(src="./assets/icons/gulp.svg", alt="gulp")
        li.skills__item
            img(src="./assets/icons/pug.svg", alt="pug") 
        li.skills__item.skills__item_react
            img(src="./assets/icons/react.svg", alt="react") 
        li.skills__item
            img(src="./assets/icons/js.svg", alt="logojs")