section.skills.wrapper
    ul.skills__box 
        li.skills__item
            img(src="./assets/icons/html.svg", alt="html")
        li.skills__item
            img(src="./assets/icons/css.svg", alt="css") 
        li.skills__item
            img(src="./assets/icons/img-scss.svg", alt="img-scss") 
        li.skills__item
            img(src="./assets/icons/github.svg", alt="github") 
        li.skills__item
            img(src="./assets/icons/ps.svg", alt="ps")  
        li.skills__item
            img(src="./assets/icons/figma.svg", alt="figma")  
        li.skills__item
            img(src="./assets/icons/gulp.svg", alt="gulp")
        li.skills__item
            img(src="./assets/icons/figma.svg", alt="figma") 
        li.skills__item
            img(src="./assets/icons/figma.svg", alt="figma") 
        li.skills__item
            img(src="./assets/icons/figma.svg", alt="figma") 
        li.skills__item
            img(src="./assets/icons/figma.svg", alt="figma")
        li.skills__item
            img(src="./assets/icons/figma.svg", alt="figma")
        li.skills__item
            img(src="./assets/icons/figma.svg", alt="figma")