$color-white: #ffffff;
$color-white-smoke: #fceded;
$color-pink: #ffc0cb;
$color-lime: #00ff00;
$color-forestgreen: #228b22;
$color-gray: #a9a9a9;

$font-style: "Gluten";
$font-bold: "Gluten-bold";

$curve: cubic-bezier(0.65, 0, 0.45, 1);
