button {
    cursor: pointer;
}
.wrapper {
    margin: 0 125px;
}

.text {
    font-family: $font-style;
    color: $color-fortext;
    font-size: 18px;
    line-height: 25px;
    &_gray {
        color: $color-gray;
    }
    &_pink {
        color: $color-pink;
    }
}

.text-bold {
    font-family: $font-bold;
    color: $color-fortext;
    font-size: 29px;
}

.text-hover {
    &:hover {
        color: $color-pink;
    }
}

.flex {
    display: flex;
    align-items: center;
}

.element-animation {
    opacity: 0;
    transform: translateY(20px);
}

.element-animation.element-show {
    opacity: 1;
    transition: all 1.5s;
    transform: translateY(0%);
}
