* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
    position: relative;
    background-image: url("../assets/images/bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    width: 100%; // це для того, щоб картинка не іскажалась при різних розширенням
    height: auto;
}
button {
    cursor: pointer;
}
.wrapper {
    margin: 0 125px;
}

.text {
    font-family: $font-style;
    color: $color-white;
    font-size: 12px;
    &-thin {
        font-size: 18px;
    }
}

.text-bold {
    font-family: $font-bold;
    color: $color-white;
}

.flex {
    display: flex;
}
