* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
    font-family: "Nunito light";
    background-image: url("../assets/images/bg.jpeg");
}

// body::after {
//     content: "";
//     background: url("../assets/images/bg.jpeg");
//     opacity: 0.4;
//     top: 0;
//     left: 0;
//     bottom: 0;
//     right: 0;
//     position: absolute;
//     z-index: -1;
// }

a {
    text-decoration: none;
    // color: $color-;
}

li {
    list-style: none;
}

img {
    width: 100%; // це для того, щоб картинка не іскажалась при різних розширенням
    height: auto;
}
button {
    cursor: pointer;
}
.wrapper {
    margin: 0 125px;
}

.text {
    font-family: $font-light;
    color: $color-white;
    font-size: 12px;
}
