@font-face {
    font-family: "Gluten";
    font-style: normal;
    font-weight: 400;
    src: url("../assets/fonts/gluten-v1-latin-ext_latin-regular.woff2") format("woff2"),
        url("../assets/fonts/gluten-v1-latin-ext_latin-regular.woff") format("woff");
}

@font-face {
    font-family: "Gluten-bold";
    font-style: normal;
    font-weight: 700;
    src: url("../assets/fonts/gluten-v1-latin-ext_latin-700.woff2") format("woff2"),
        url("../assets/fonts/gluten-v1-latin-ext_latin-700.woff") format("woff");
}
