* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
    position: relative;
    background-image: url("../assets/images/bg.jpeg");
    opacity: 0.9;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    width: 100%; // це для того, щоб картинка не іскажалась при різних розширенням
    height: auto;
}
